
.sidebar{
    background-color: rgb(242, 245, 247);
    top : 0;
    left: 0;
    width: 250px;
    height: 150%;
    padding-top: 10px 0;
    padding-bottom: 100%;
}

.sidebar .right{
    /* color: #0c7d;
    background-color: red;
    border-right: 2px solid blue;
*/
width: 200px;
        border: 1px solid #ff1100;
        text-align: right;
}

.adduser{
    margin-left: 85%;
    margin-top: -17%;
    
} 

.users{
    margin-left: 15%;
    margin-top:  -3%;

}

.users1{
    margin-left: 15%;
    margin-top:  3%;
}
.grid{
    margin-left: 70%;
    margin-top: -8%;
}
.topbar{
    margin-left: 87%;
    margin-top: -7%;
}

.topbarphoto{
    margin-left: 70%;
    margin-top: -19%;
    
    
}
.wrapper .sidebar .profile img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}